<%= render "shared/header" %>
<div class='search-items'>
  <div class='search-keyword'>
   <%= link_to 'キーワードから探す', search_parks_path %>
  </div>
  <div class='search-map'>
   <%= link_to '地図から探す', "#"  %>
  </div>
</div>

<ul class='park-lists'>
 <% @parks.each do |park| %>
   <li class='list'>
     <%= link_to park_path(park.id), method: :get do %>
        <%# <%= image_tag park.images[0] %>
       <div class='list-name'>
        <%= park.name %><br>
       </div>
       <div class='list-prefecture'>
        <%= park.prefecture[:name] %><br> 
       </div>
     <% end %> 
   </li>
 <% end %> 
</ul>