<%= render "shared/header" %>

<h3><%= link_to 'キーワードから探す', search_parks_path %></h3>
<h3><%= link_to '地図から探す', "#" %></h3>

<% @parks.each do |park| %>
  <li class='list'>
    <%= link_to park_path(park.id), method: :get do %>
       <%# <%= image_tag park.images[0] %>
      <%= park.name %><br>
      <%= park.prefecture[:name] %><br> 
    <% end %> 
  </li>
<% end %> 