<%= render "shared/header" %>

<h3><%= link_to 'キーワードから探す', search_parks_path %></h3>
<h3><%= link_to '地図から探す', "#" %></h3>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
     <div class="card" style="width: 18rem;">
       <img src="..." class="card-img-top" alt="...">
       <div class="card-body">
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       </div>
     </div>
    </div> 
 </div>
</div>

<% @parks.each do |park| %>
  <li class='list'>
    <%= link_to park_path(park.id), method: :get do %>
       <%# <%= image_tag park.images[0] %>
      <%= park.name %><br>
      <%= park.prefecture[:name] %><br> 
    <% end %> 
  </li>
<% end %> 