<%= render "shared/header" %>
<div class='search-items'>
  <div class='search-keyword'>
  <i class="fa fa-search"></i>
   <%= link_to 'キーワードから探す', search_parks_path, class:'keyword' %>
  </div>
  <div class='search-map'>
   <i class="fa fa-map-marker"></i>
   <%= link_to '地図から探す', map_parks_path, class:'map' %>
  </div>
</div>

 
ここに地図表示
   <div id="map" style="width:620px; height:400px"></div>

   <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWdyAwrdg1iVdxc2iGfG6TxhRUPvgieeM&callback=initMap">
   </script>

   <script>
     var map;
     function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(35.1239654, 136.9417741),
            zoom: 15
        });
      }
      
    // InvalidValueError: initMap is not a functionの対応
     window.onload = function () {
         initMap();
     }
   </script>



<div class='main'>
<p class='new-lists'>新着一覧</p>
<ul class='park-lists'>
 <% @parks.each do |park| %>
   <li class='list'>
     <%= link_to park_path(park.id), class:'list-all',method: :get do %>
        <%# <%= image_tag park.images[0] %>
       <div class='list-name'>
        <%= park.name %><br>
       </div>
       <div class='list-prefecture'>
        <%= park.prefecture[:name] %><br> 
       </div>
     <% end %> 
   </li>
 <% end %> 
</ul>
</div>