<%= render "shared/header" %>  
<% if user_signed_in? %>
  <%if current_user.already_favorited?(@park)%>
    <%= link_to park_favorite_path(@park), method: :delete do %>
    <i class="fas fa-star"></i>
    <% end %>
  <% else %>
    <%= link_to park_favorites_path(@park), method: :post do %>
    <i class="far fa-star"></i>
    <% end %>
  <% end %>
  <%= @park.favorites.count %>
<% end %>


<ul class='park-details'>
  <li class='park-name'>公園名</li>
  <div class='park-name-value'><%= @park.name %></div>

  <li class='park-prefecture'>都道府県</li>
  <div class='park-prefecture-value'><%= @park.prefecture[:name] %></div>


  <li class='park-address'>住所（市町村以下）</li>
  <div class='park-address-value'><%= @park.address %></div>
   
  <li class='park-opening-hours'>開園時間</li>
  <div class='park-opening-hours-value'><%= @park.opening_hours %></div>
</ul>

<table class='detail-table'>
 <tbody>
 <tr>
  <th class='detail-item'>駐車場</th>
  <td class='detail-value'><%= @park.parking ? 'あり' : 'なし' %></td>
 </tr>

 <tr>
  <th class='detail-item'>自動販売機</th>
  <td class='detail-value'><%= @park.vending_machine ? 'あり' : 'なし' %></td>
 </tr>
  <tr>
  <th class='detail-item'>手洗い場</th>
  <td class='detail-value'><%= @park.hand_wash ? 'あり' : 'なし' %></td>
 </tr>
  <tr>
  <th class='detail-item'>トイレ</th>
  <td class='detail-value'><%= @park.toilet ? 'あり' : 'なし' %></td>
 </tr>
  <tr>
  <th class='detail-item'>授乳室</th>
  <td class='detail-value'><%= @park.breastfeeding_room ? 'あり' : 'なし' %></td>
 </tr>
  <tr>
  <th class='detail-item'>おむつ交換台</th>
  <td class='detail-value'><%= @park.diaper_changing_table ? 'あり' : 'なし' %></td>
 </tr>
 <tr>
  <th class='detail-item'>遊具</th>
  <td class='detail-value'><%= @park.play_set ? 'あり' : 'なし' %></td>
 </tr>
 <tr>
  <th class='detail-item'>砂場</th>
  <td class='detail-value'><%= @park.sandbox ? 'あり' : 'なし' %></td>
 </tr>
 <tr>
  <th class='detail-item'>広場</th>
  <td class='detail-value'><%= @park.grass ? 'あり' : 'なし' %></td>
 </tr>
 <tr>
  <th class='detail-item'>キックバイク</th>
  <td class='detail-value'><%= @park.kick_bike ? '可' : '不可' %></td>
 </tr>
 <tr>
  <th class='detail-item'>売店・コンビニ</th>
  <td class='detail-value'><%= @park.store ? 'あり' : 'なし' %></td>
 </tr>
 <tr>
  <th class='detail-item'>飲食店</th>
  <td class='detail-value'><%= @park.restaurant ? 'あり' : 'なし' %></td>
 </tr>
</table>

  <% if user_signed_in? %>
   <%= link_to "公園情報の編集", edit_park_path(@park.id), method: :get %>
  <% end %>




 <%# <% @comments.each do |comment| %> 
    <%# <%= image_tag comment.images, class: "item-img" if comment.images.attached? %> 
 <%# <% end %>


<% if user_signed_in? %>
 <%= form_with(model: [@park, @comment], local: true) do |f| %>
  <p>
    クリックして写真をアップロード
  </p>
   <%= f.file_field :image %><br>
   <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
   <%= f.submit "SEND" %>
 <% end %>
<% else %>
  <p>※※※ 写真・コメントの投稿には新規登録/ログインが必要です ※※※</p>
<% end %>

<%# <% if @comment.image.attached? %> 

<%# <% end %>
 <%# multiple: true %> 

<div class="comments">
  <h4>＜コメント一覧＞</h4>
  <% @comments.each do |comment| %>
    <p>
      <strong><%= comment.user.nickname  %>：</strong>
      <%= comment.text %><br>
      <%= image_tag comment.image.variant(resize: '500x500') if comment.image.attached? %>
    </p>
  <% end %>
</div>