<%= render "shared/header" %>




<table class='user-details'>
 <tbody>
 <tr>
  <th class='user-name'>ニックネーム</th>
  <td class='user-name-value'><%=@user.nickname %></td>
 </tr>
 <tr>
  <th class='user-prefecture'>住んでいるところ</th>
  <td class='user-prefecture-value'><%= @user.prefecture[:name] %><%= link_to '編集', edit_user_path(current_user), class:'edit-user' %></td>
 </tr>
 </tbody>

</table>

<div class='main'>
  <p class='new-lists'><%= @user.nickname %>さんのお気に入りの公園一覧</p>
  <ul class='park-lists'>
    <% if @favorite_list.present? %>
      <% @favorite_list.each do |park| %>
        <li class='list'>
          <%= link_to park_path(park.id), class:'list-all',method: :get do %>
            <div class='list-name'>
              <%= park.name %><br>
            </div>
            <div class='list-prefecture'>
              <%= park.prefecture[:name] %><br> 
            </div>
          <% end %> 
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

